*:focus, *:active, *:visited {
  box-shadow: none !important;
  outline: 0 !important;
}

*::-moz-focus-inner {
  border: 0 !important;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Mada', sans-serif !important;
  font-weight: lighter !important;
}

a, a:hover {
  cursor: pointer !important;
}

section.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:  center;
  flex-direction:  column;
}

section.full-page.first, section.full-page.questions  {
  background: #4B5ECF;
  background: -webkit-radial-gradient(center, #4B5ECF, #2A1C76);
  background: -moz-radial-gradient(center, #4B5ECF, #2A1C76);
  background: radial-gradient(ellipse at center, #4B5ECF, #2A1C76);
  color: #FFF;
  position: relative;
  overflow: hidden;
}

.plx, .initialContent {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.plx.text, .plx.content .initialContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.plx.text h1 {
  font-size: 80px;
}

.plx.text h2 {
  font-size: 40px;
}

.plx.layer-1 {
  background-image: url(../img/stars.svg);
  background-size: 50%;
  z-index: 1;
}

.plx.layer-2 {
  background-image: url(../img/mountains-light.svg);
  background-size: cover;
}

.plx.layer-3 {
  background-image: url(../img/moutains-dark.svg);
  background-size: cover;
}

.lang-choice {
  z-index: 2;
  font-size: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  display:  flex;
  justify-content: center;
  width:  100vw;
}

.lang-choice span {
  margin: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.lang-choice span:hover {
  transform: scale(1.1)
}

section * {
  margin: 0;

}

section.full-page h1 {
  font-size: 50px;
}

section.full-page h2 {
  font-size: 38px;
}

nav.navbar {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content:  end;
}

nav.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

nav.navbar ul div.items {
  display: flex;
  flex: 1;
}

nav.navbar ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 25px;
  font-family: 'Mada', sans-serif;
  font-size: 18px;
  transition: 0.2s;
  color: #FFF;
}

nav.navbar ul li a:hover {
  padding-top: 30px;
  cursor: pointer;
}

 nav.navbar ul li.brand a:hover {
  transform: scale(1.05);
  cursor: pointer;
 }

 .plx-icon {
   margin-right: 40px;
 }

 .plx-icon:last-child {
  margin-right: 0;
}

 .plx-icon a {
   display: inline-block;
  margin-top: 30px;
  font-size: 40px;
  color: #FFF;
  transition: 0.2s;
  cursor: pointer;
 }

.plx-icon.gitlab a:hover {
  color: #E04432;
}

.plx-icon.instagram a:hover {
  color: #BB337A;
}

.plx-icon.linkedin a:hover {
  color: #0077B5;
}

.questionChoices {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.questionChoice {
  cursor: pointer;
  margin: 0 20px;
  background-color: rgba(44, 32, 123, 0.5);
  border-radius: 15px;
  padding: 40px;
  transition: 0.2s;
  display: inline-block;
}

.questionChoice h3 {
  font-size: 25px;
}

.questionChoice:hover {
  background-color: rgba(44, 32, 123, 0.8);
}

.educationContent, .skillsContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 5;
}

.educationContent .item, .skillsContent .item {
  flex: 1;
  padding: 20px;
  display:  flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
  background-color: rgba(44, 32, 123, 0.5);
  border-radius: 15px;
}

.educationContent .item .title h2, .skillsContent .item .title h2 {
  margin-top: 20px;
}

.educationContent .item .title h3, .skillsContent .item .title h3 {
  margin-top: 0;
  font-size: 20px;
}

.educationContent .item .content, .skillsContent .item .content {
  margin-top: 20px;
  background-color: rgba(0,0,0,0.2);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
}

.educationContent .item .content img, .skillsContent .item .content img {
  margin: 0 10px;
}

.backButton {
  color: #FFF;
  font-size: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.backButton:hover {
  transform: scale(1.05);
}

.container.signin {
  background: #4B5ECF;
  background: -webkit-radial-gradient(center, #4B5ECF, #2A1C76);
  background: -moz-radial-gradient(center, #4B5ECF, #2A1C76);
  background: radial-gradient(ellipse at center, #4B5ECF, #2A1C76);
  color: #FFF;
  width: 100vw;
  height: 100vh;
  max-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Bootstrap form  */
.form-signin {
  max-width: 330px;
  margin: 0 auto;
}

.form-signin-heading {
  margin-top: 0;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary.signin {
  background-color: #FFF !important;
  color: #4B5ECF !important;
  border: 2px solid #FFF !important;
}

.btn-primary.signin:disabled {
  background-color: transparent !important;
  color: #FFF !important;
}
/***/