.blog-navbar {
    padding: 20px;
    height: 64px;
    border-bottom: 1px solid;
    border-color: #E6E2E2;
    background-color: #FFF;
}

.blog-navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.blog-navbar ul .right {
    flex: 1;
}

.blog-navbar ul .right {
    display: flex;
    justify-content: flex-end;
}

.blog-navbar ul * li {
    display: inline-block;
}

.blog-navbar ul * li:not(.newsletterButton):not(.blogBackButton) {
    margin: 0 10px;
}

.blog-navbar ul * li a {
    color: #606D7C;
    transition: 0.2s;
}

.blog-navbar ul * li a:hover {
    text-decoration: none;
    color: rgb(68, 77, 87);
}

.blog-navbar ul * li.blogBackButton {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.blog-navbar ul * li.blogBackButton a {
    display: block;
    color: #4C4AC7;
    font-size: 35px;
}

.blog-navbar ul * li.blogBackButton a:hover {
    color: #4C4AC7;
    transform: scale(1.1);
}

.blog-navbar ul * li.newsletterButton {
    margin-left: 30px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}

.blog-navbar ul * li.newsletterButton a {
    display: block;
    border: 3px solid #4C4AC7;
    border-radius: 20px;
    padding: 2.5px 35px;
    text-transform: uppercase;
    color: #4C4AC7;
    font-weight: bold;
    font-size: 14px;
}

.blog-navbar ul * li.newsletterButton a:hover {
    color: #FFF;
    background-color: #4C4AC7;
}

/* SUBMENU */
.submenu {
    border-bottom: 1px solid;
    border-color: #E6E2E2;
    padding: 15px;
    background-color: #FFF;
}

.submenu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.submenu ul li {
    margin: 0 20px;
}

.submenu ul li a {
    display: block;
    color: #838383;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
}

.submenu ul li a.active {
    color: #4C4AC7;
    text-decoration: none !important;
}

.submenu ul li a:not(.active):hover {
    transform: scale(1.05);
    text-decoration: none;
}