.bg-image {
    min-height: 100vh;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/handmadepaper.png");
}

.posts {
    margin-top: 50px;
}

.posts article {
    padding: 0px 20px;
    padding-bottom: 40px;
    transition: 0.2s;
}

.posts article:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.posts article .post {
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 15px -10px;
    margin-bottom: 15px;
    background-color: #FFF;
}

.posts article .post .image {
    margin: -43px -20px 10px -20px;
}

.posts article .post .image img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width:  100%;
}

.posts article .post .infos {
    width: 100%;
}

.posts article .post .infos .date {
    font-weight: lighter;
    font-size: 14px;
}

.posts article .post .infos h2 {
    margin: 10px 0;
    font-weight: 700 !important;
    font-size: 25px;
}

.posts article .post .infos p {
    text-align: justify;
}

.posts article .post .collections {
    border-top: 1px solid #E6E2E2;
    width: calc(100% + 40px);
    text-align: center;
    padding-top: 10px;
}

.posts article .post .collections span {
    text-transform: uppercase;
    color: #4C4AC7;
    font-weight: bold;
    font-size: 12px;
}