.post-write-modal {
    max-width: 80vw !important;
}

.post-write {
    justify-content: center;
}

.post-write .well {
   padding-top: 20px;
}

.post-write .img {
    width: 105%;
    margin: 40px 0;
    margin-left: -2.5%;
}

.post-write .header {
    text-align: center;
}

.post-write h1 {
    font-size: 48px;
    font-weight: bolder !important;
    margin: 10px 0 0 0;
}

.post-write h2, .post-write h3, .post-write h4, .post-write h5 {
    font-weight: bolder !important;
}

.post-write .date, .post-write .collections {
    text-transform: uppercase;
    color: rgb(184, 184, 184);
}

.post-write p {
    font-size: 19px;
    text-align: justify;
}

.post-write p a {
    color: #4C4AC7;
    text-decoration: underline;
    transition: 0.2s;
}

.post-write p a:hover {
    color: rgb(47, 45, 119);
}